#head {
  height: 50px;
  width: 50px;
  position: absolute;
}

#bodyPart {
  height: 50px;
  width: 50px;
  position: absolute;
}

#board {
  height: 700px;
  width: 700px;
  background-color: #0F7303;
  border: 2px black solid;
  position: relative;
  margin: auto;
}

#apple {
  height: 50px;
  width: 50px;
  position: absolute;
}

#start {
  margin: auto;
  position: relative;
  padding: 5px;
  margin-top: 10px;
  left: 50%;
  border-radius: 5px;
  cursor: pointer;
}